<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>chart</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script type="text/javascript" src="/javascripts/d3.v3.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/chart.js"></script>
</head>

<body>
<svg />
</body>
</html>
